<h1>Bookmarks:</h1>

<ul>
<% @bookmarks.each do |bookmark| %>
<li class="bookmark"><a href= <%=bookmark[:url]%> > <%=bookmark[:title]%> </a>
<form action="/bookmarks/<%=bookmark[:title]%>" method="post">
  <input type='hidden' name='_method' value='DELETE'/>
  <input type="submit" name='delete' value='delete'>
</form>
</li>
<% end %>
<!-- <form action="/delete_bookmark" method="post">
  <input type="submit" name="delete" value="Delete">
</form> -->
</ul>
